*,
::before,
::after {
  box-sizing: border-box;
}

/* #region Body */
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Common */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header__logo {
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}
.nav {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-item {
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Section Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #fff;
  width: 496px;

  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  /* width: 169px;
  height: 56px; */
}

.hero__button:hover,
.hero__button:focus {
  background: #404bbf;
}
/* #endregion */

/* #region Section Our features */
.features {
  padding: 120px 0;
  margin: 0 auto;
}
.features__title {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.features__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.features__item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.features__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}
/* #endregion */

/* #region Section Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
  margin: 0 auto;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

.team__item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 24px * 3) / 4);
}

.team__item:last-child {
}

.team__img {
}

.team__caption {
  padding: 32px 16px;
}

.team__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* #endregion */

/* #region Section Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__item {
  background-color: #fff;
  flex-basis: calc((100% - 24px * 2) / 3);
}

.portfolio__caption {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio__item-img {
}

.portfolio__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.portfolio__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
}

.footer__logo {
  display: block;
  color: #f4f4fd;

  margin-bottom: 16px;
}

.logo-accent {
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

/* #endregion */
